html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75;
}
.p-megamenu-panel {
    left: auto;
    right: 0;
}
    
.p-megamenu.p-megamenu-mobile-active .p-megamenu-root-list {
    right: 0;
    left: auto;
}

.button, input, optgroup, select, textarea{
    padding: 10px!important;
    border: solid 1px lightgrey;
    width: 20rem;
}

.signup-height {
    height: 40rem!important;
}

.p-galleria .p-galleria-thumbnail-container{
    background-color: transparent!important;
}